#hero {
  background: url('http://placehold.it/1080x600') no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.work, .news, .insights, .picks, .spotlight {
  padding: 100px 20px 100px 40px;
  max-width: 960px;
  margin: 0 auto;
}
section {
  color: $white;
  &.bg-gray {
    background-color: $gray;
    color: $white;
  }
  &.bg-dark-gray {
    background-color: $dark-gray;
  }
  &.bg-black {
    background-color: $black;
  }
  h1 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px dotted $white;
  }
  h2 {
    font-size: 29px;
    font-weight: 700;
    padding-top: 40px;
  }
  p {
    font-size: 18px;
  }
}

.work {
  h1 {
    text-align: center;
  }
  .gray-border {
    width: 100%;
    height: 2px;
    background-image: url('../assets/gray-dot.svg');
    background-repeat: repeat;
    background-size: 2px;
  }
  p {
    margin-top: 0;
    &.title {
      font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
      font-style: italic;
      margin-bottom: 0;
    }
  }
  .video {
    margin-top: 40px;
    // placeholder
    img {
      width: 100%;
    }
  }
  .work-item-pics {
    display: flex;
    margin-top: 40px;
    .work-item-pic {
      width: 31%;
      &:nth-child(2) {
        margin: 0 3%;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

.news {
  padding-bottom: 0;
  h1 {
    text-align: center;
  }
  h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
  }
  .crescent {
    padding: 40px 0;
    margin-bottom: 40px;
    background-image: url('http://image.shutterstock.com/z/stock-photo-vintage-studio-room-background-with-retro-photo-frame-141293167.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .crescent-text {
      max-width: 500px;
    }
  }

  .personel {
    display: flex;
    margin-bottom: 40px;
    padding-top: 40px;
    .person {
      flex-grow: 2;
      margin-right: 50px;
      text-align: center;
      position: relative;
      .person-img {
        height: 120px;
        width: 120px;
        border-radius: 60px;
        position: absolute;
        top: -35px;
        left: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &.marissa {
          background-image: url('http://image.shutterstock.com/z/stock-photo-freckles-woman-portrait-220138753.jpg')
        }
        &.bryan {
          background-image: url('http://image.shutterstock.com/z/stock-photo-portrait-of-long-beard-and-mustache-man-320936999.jpg')
        }
      }
      .person-bg {
        background-color: $green;
        width: 140px;
        height: 80px;
        padding-top: 70px;
        margin-top: 25px;
        span {
          display: block;
        }
        .name {
          font-family: Helvetica, Arial, sans-serif;
          font-size: 18px;
          font-weight: 700;
        }
        .role {
          font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
    .person-bio {
      flex-grow: 6;
      p {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 17px;
      }
    }
  }
}

@include mobile {
  section {
    padding: 80px 20px;

    &#hero {
      margin-top: 0;
      height: 430px;

      .content-wrap {
        padding: 80px 0;
        height: 270px;
      }
    }

    &#hills {
      .hill-problem {
        margin-bottom: 30px;

        .hill-question {
          img {
            float: none;
            width: 80%;
          }

          h4 {
            float: none;
            width: auto;
            padding: 0;
            margin-top: 30px;
          }
        }
      }

      .hill {
        float: none;
        width: auto;
        overflow: hidden;
        margin: 20px 0;

        img {
          float: left;
          width: auto;
          margin-right: 20px;
        }

        p {
          float: left;
          font-size: 16px;
          margin: 0;
        }
      }
    }

    &#user {
      .user-pic {
        float: none;
        width: auto;
        margin-bottom: 40px;

        .ted {
          max-width: 480px;
        }
      }

      .user-summary {
        float: none;
        width: auto;
        padding-left: 0;

        ul {
          margin: 0 0 20px;
        }
      }

      .user-diagram {
        float: none;
        width: auto;
        padding: 40px 0 0;
      }
    }

    &#research {
      h4,
      img {
        display: none;
      }

      a {
        width: 280px;
      }
    }
  }
}
